<div class="container">
  <ul class="list-group">
  <li class="list-group-item my-2" *ngFor="let article of articles">
    <img [src]="article.url" width="200" class="float-left mr-3">
    <h5 class="mb-1">{{ article.label }}</h5>
    <p class="mb-1">Marque : {{ article.brand }}</p>
    <p class="mb-1">Prix : {{ article.price }} €</p>
    <div class="form-group">
      <label >Quantité :</label>
      <span>{{quantities[article.id]}}</span>
    </div>
    <button class="btn btn-primary btn-sm float-right btn-danger" (click)="retirerDuPanier(article.id)">Retirer du panier</button>

  </li>
  </ul>
  <div class="total-container">
    <p class="total">Total : {{total | number:'1.2-2'}}  €</p>
  </div>
  <div class="text-center" style="margin-bottom: 50px;">
    <button class="btn btn-primary" (click)="viderPanier()">Valider</button>
  </div>

</div>
